{% extends 'base.html.twig' %}

{% block title %}Edit Emprunt
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Modifier l'emprunt
			{{emprunt.id}}
			fait par
			{{ emprunt.user}}
		</h1>
		{{ include('emprunt/_form.html.twig', {'button_label': 'Update'}) }}
		<a href="{{ path('app_emprunt_index') }}">back to list</a>
	</div>
{% endblock %}
